  <div class="cards-tabs">
    <div class="cards-tabs__left tab--active">
      <h2>Current Projects</h2>
    </div>
    <div class="cards-tabs__right">
      <h2>Previous Projects</h2>
    </div>
  </div>