<div class="card__outer">
  <div class="card__inner">
    <img src="https://source.unsplash.com/300x200?sig=<%= project.id %>">
    <div class="card__content">
      <h3><%= project.title %></h3>
      <p><%= project.content %></p>
    </div>
  </div>
  <a>Read More<a>
</div>