<footer>
  <div>
    <h5><span>Address</span></h5>
    <p>Moorvale Creative CIC</p>
    <p>34 Creedwell Orchard</p>
    <p>Milverton Taunton</p>
    <p>TA4 1JY</p>
  </div>
  <div>
    <h5><span id="contact">Contact</span></h5>
    <p><i class="fas fa-phone"></i> (01823) 401430</p>
    <p><i class="fas fa-envelope"></i> info@moorvalecreativecic.org.uk</p>
    <p><i class="fas fa-envelope"></i> accounts@moorvalecreativecic.org.uk</p>
  </div>
  <div>
    <h5><span>Company</span></h5>
    <p>Moorvale Creative CIC</p>
    <p>Registered in England</p>
    <p>Company Number: 10827037</p>
    <p>©2021 Moorvale Creative CIC</p>
    <%= link_to 'Add Project', new_project_path %>
  </div>
</footer>
