<nav>
  <ul>
    <li>
      <div class="navlink" id="logo">
        <p>Moorvale Creative</p>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div class="navlink"><a href="#">About</a></div>
      <div class="navlink navlink--hover"><a href="#">About</a></div>
    </li>
    <li>
      <div class="navlink"><a href="#">Projects</a></div>
      <div class="navlink navlink--hover"><a href="#">Projects</a></div>
    </li>
    <li>
      <div class="navlink"><a href="#">Gallery</a></div>
      <div class="navlink navlink--hover"><a href="#">Gallery</a></div>
    </li>
    <li>
      <div class="navlink"><a href="#">Contact</a></div>
      <div class="navlink navlink--hover"><a href="#">Contact</a></div>
    </li>
  </ul>
</nav>