<nav>
  <ul>
    <li>
      <div class="navlink" id="logo">
        <p>Moorvale Creative</p>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div class="navlink"><a href="#">About</a></div>
      <div class="navlink navlink--hover"><a href="#">About</a></div>
    </li>
    <li>
      <div class="navlink"><%= link_to 'Projects', projects_path %></div>
      <div class="navlink navlink--hover"><%= link_to 'Projects', projects_path %></div>
    </li>
    <li>
      <div class="navlink"><a href="#">Gallery</a></div>
      <div class="navlink navlink--hover"><a href="#">Gallery</a></div>
    </li>
    <li>
      <div class="navlink"><%= link_to 'Contact', contact_path %></div>
      <div class="navlink navlink--hover"><%= link_to 'Contact', contact_path %></div>
    </li>
  </ul>
</nav>