<nav>
  <ul>
    <li>
      <div class="navlink" id="logo">
        <p>Moorvale Creative</p>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div class="navlink"><p>About</p></div>
      <div class="navlink navlink--hover"><p>About</p></div>
    </li>
    <li>
      <div class="navlink"><p>Projects</p></div>
      <div class="navlink navlink--hover"><p>Projects</p></div>
    </li>
    <li>
      <div class="navlink"><p>Gallery</p></div>
      <div class="navlink navlink--hover"><p>Gallery</p></div>
    </li>
    <li>
      <div class="navlink"><p>Contact</p></div>
      <div class="navlink navlink--hover"><p>Contact</p></div>
    </li>
  </ul>
</nav>