<div class="container">
  <div class="card-container--center">
    <div class="form-container">
      <form class="form">
        <h2><span>Form</span></h2>
      </form>
    </div>
    <div class="form__image">
      <img src="https://source.unsplash.com/400x600?sig=form__image">
    </div>
  </div>
</div>