<div class="container">
  <%= render 'shared/cards-tabs' %>
  <div class="cards-container">
    <% @projects.each do |project| %>
      <%= render 'shared/card-project', project: project %>
    <% end %>
  </div>
</div>