<h2>Our Projects</h2>

<div class="container">
  <div class="cards-container">
    <% @projects.each do |project| %>
      <%= render 'shared/card-project', project: project %>
    <% end %>
  </div>
</div>