<h2>Our Projects</h2>

<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="d-flex justify-content-center my-4 col-12 col-md-6 col-lg-4">
        <%= render 'shared/card-project', project: project %>
      </div>
    <% end %>
  </div>
</div>