.cards-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 64px;

  &__left,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    width: 100%;

    &.tab--active {
      border-bottom: 8px solid $dark-blue;
      padding-bottom: 24px;
    }
  }
}