footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 32px;
  padding: 48px;
  max-width: 100vw;
  min-height: 30vh;
  background-color: $dark-blue;
  color: $white;

  div {
    padding: 16px;

    h5 {
      margin-bottom: 16px;
      color: $dark-blue;
      font-weight: bold;

      span {
        padding: 8px 16px;
        background-color: $white;
        clip-path: polygon(0 0, 100% 4%, 96% 100%, 4% 96%);
      }

      #contact {
        clip-path: polygon(0 4%, 100% 0, 96% 96%, 4% 100%);
      }
    }

    h5, p {
      opacity: 0.8;
    }
  }
}


