nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: calc(100vw - 32px);

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
}

#logo {
  width: auto;
  font-size: 2rem;
}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  padding: 4px 8px;
  height: 40px;
  font-weight: bold;

  a {
    color: $black;
    text-decoration: none;
  }

  &--hover {
    position: absolute;
    /* top: 8px; */
    width: 80%;
    background-color: $blue;
    color: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 0.3s cubic-bezier(0.5, 0.00, 0.25, 8.00);

    a {
      color: $white;
    }
  }
}

nav li:hover .navlink--hover {
  clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0% 100%);
}

@media screen and (max-width: 600px) {
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex: 1;
  }
}